[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
fiona = "*"
geopandas = "*"
shapely = "*"

[dev-packages]
pytest = "*"
gdal = "==3.6.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
